@model CS4790Assignment3.Models.Game
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Add Game";
}


<div class="row">
	<h2 class="text-center">Add Game</h2>
	<br />
</div>

<form asp-action="Create">
	<div class="form-horizontal">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="GameID" />
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="form-group">
					<label asp-for="GameName" class="col-md-4 control-label"></label>
					<div class="col-md-8">
						<input asp-for="GameName" type="text" class="form-control" />
						<span asp-validation-for="GameName" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="Price" class="col-md-4 control-label"></label>
					<div class="col-md-8">
						<input asp-for="Price" type="number" class="form-control" />
						<span asp-validation-for="Price" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="HoursPlayed" class="col-md-4 control-label"></label>
					<div class="col-md-8">
						<input asp-for="HoursPlayed" type="number" class="form-control" />
						<span asp-validation-for="HoursPlayed" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="IsCompleted" class="col-md-4 control-label"></label>
					<div class="col-md-8">
						<input asp-for="IsCompleted" type="checkbox" class="form-control" />
						<span asp-validation-for="IsCompleted" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="IsOnlineMultiplayer" class="col-md-4 control-label"></label>
					<div class="col-md-8">
						<input asp-for="IsOnlineMultiplayer" type="checkbox" class="form-control" />
						<span asp-validation-for="IsOnlineMultiplayer" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="CurrentlyPlaying" class="col-md-4 control-label"></label>
					<div class="col-md-8">
						<input asp-for="CurrentlyPlaying" type="checkbox" class="form-control" />
						<span asp-validation-for="CurrentlyPlaying" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
		<div class="row form-group">
			<div class="col-md-12 text-center">
				<input type="submit" value="Save" class="btn btn-success" />
				<a asp-action="Index" class="btn btn-danger">Cancel</a>
			</div>
		</div>
	</div>
</form>