@model CS4790Assignment3.Models.Game
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Edit Game";
}

<div class="row">
	<h2 class="text-center">Edit Game</h2>
	<br />
</div>

<form asp-action="Edit">
	<div class="form-horizontal">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="GameID" />
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<input type="hidden" asp-for="PublisherID" />
				<div class="form-group">
					<label asp-for="Name" class="col-md-4 control-label"></label>
					<div class="col-md-8">
						<input asp-for="Name" type="text" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="Description" class="col-md-4 control-label"></label>
					<div class="col-md-8">
						<textarea asp-for="Description" rows="4" cols="50" class="form-control" />
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="Genre" class="col-md-4 control-label"></label>
					<div class="col-md-8">
						<input asp-for="Genre" type="text" class="form-control" />
						<span asp-validation-for="Genre" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="Price" class="col-md-4 control-label"></label>
					<div class="col-md-8">
						<input asp-for="Price" type="number" step="0.01" min="0" class="form-control" />
						<span asp-validation-for="Price" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="IsOnlineMultiplayer" class="col-md-4 control-label"></label>
					<div class="col-md-8">
						<input asp-for="IsOnlineMultiplayer" type="checkbox" class="form-control" />
						<span asp-validation-for="IsOnlineMultiplayer" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="PublisherID" class="col-md-4 control-label"></label>
					<div class="col-md-8">
						<input asp-for="PublisherID" type="number" class="form-control" />
						<span asp-validation-for="PublisherID" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="ImagePath" class="col-md-4 control-label"></label>
					<div class="col-md-8">
						<input asp-for="ImagePath" type="text" class="form-control" />
						<span asp-validation-for="ImagePath" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
		<div class="row form-group">
			<div class="col-md-12 text-center">
				<input type="submit" value="Save" class="btn btn-success" />
				<a asp-action="Index" class="btn btn-danger">Cancel</a>
			</div>
		</div>
	</div>
</form>