@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Publisher List";
}

<p>Not yet implemented!</p>

@{ 
	//Do a groupby/count of games per publisher?
	//		If this, rename to "Publisher Game Count" or something.
}