@{ 
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Index";
}

@{ 
	//List games here, paginated to ~10 per page?
	//	Make columns sortable?
	//Maybe include a "DEBUG: Has Reviews and/or Screenshots" label?
}

<p>This is some placeholder text.</p>