@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Reviews";
}

@{
//Just display all reviews
//Include a filter on this page for "does" and "does not" recommend.
}

<p>Not yet implemented!</p>