@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Screenshots";
}

@{ 
	//Collate all screenshots here, add in keyword search.
	//Maybe remove this for this assignment and keep it to the three classes - Game, Publisher, Review?
}

<p>Not yet implemented!</p>